/1.12.2
/1.14.2-BACKUP1
/1.14.2-BACKUP2
/1.14.2-BACKUP3
/1.14.2-BACKUP4
/DevAlbum
/Models
/src
/MatrixOverflow
/Other
/tools
/Sounds
/Textures
/*.png
/henlo.json

# eclipse
/1.1*.*/bin
/1.1*.*/*.launch
/1.1*.*/.settings
/1.1*.*/.classpath
/1.1*.*/.project

# idea
/1.1*.*/out
/1.1*.*/*.iws
/1.1*.*/*.iml
/1.1*.*/.idea

/1.16.4-Fabric/.idea/
/1.16.4-Fabric/*.iml
/1.16.4-Fabric/*.ipr
/1.16.4-Fabric/*.iws

# gradle
/1.1*.*/build
/1.1*.*/.gradle

/1.16.4-Fabric/.gradle/
/1.16.4-Fabric/build/
/1.16.4-Fabric/out/
/1.16.4-Fabric/classes/

# other
/1.1*.*/eclipse
/1.1*.*/run

# Files from Forge MDK
/1.1*.*/forge*changelog.txt

# fabric

/1.16.4-Fabric/run/
